<div ng-controller="tagFomController as vm">
    <form action="" class="block-form" data-id="text">
        <div class="umb-property" label="Label" label-for="labelSub">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="labelSub"> <span>Label</span> </label>
                    <div class="controls">
                        <input type="text" ng-model="vm.formTag.labelSub" id="labelSub" class="input-block-level" ng-blur="vm.populateValue()">
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-property" label="Id attribute" label-for="tag-id">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="tag-id"> <span>Id attribute</span> </label>
                    <div class="controls">
                        <input type="text" ng-model="vm.formTag.id" id="tag-id" class="input-block-level" ng-blur="vm.populateValue()">
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-property" label="Class attribute" label-for="class">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="class"> <span>Class attribute</span> </label>
                    <div class="controls">
                        <input type="text" ng-model="vm.formTag.class" id="class" class="input-block-level" ng-blur="vm.populateValue()">
                    </div>
                </div>
            </div>
        </div>
        <br class="clear">
        <div class="umb-property">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <div class="controls">
                        <input type="text" readonly class="input-block-level" ng-model="vm.formTag.value">
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>