<div ng-controller="tagFomController as vm">
    <form action="" class="block-form" data-id="text">
        <div class="umb-property" label="Field type" label-for="required">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="required"> <span>Field type</span> </label>
                    <div class="controls">
                        <label class="input-block-level"><input type="checkbox" ng-model="vm.formTag.required" id="required" ng-change="vm.populateValue()">Required field</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-property" label="Name" label-for="name">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="name"> <span>Name</span> </label>
                    <div class="controls">
                        <input type="text" ng-model="vm.formTag.name" id="name" class="input-block-level" ng-blur="vm.populateValue()">
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-property" label="File size limit (bytes)" label-for="limit">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="limit"> <span>File size limit (bytes)</span> </label>
                    <div class="controls">
                        <input type="text" ng-model="vm.formTag.limit" id="limit" class="input-block-level" ng-blur="vm.populateValue()">
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-property" label="Acceptable file types" label-for="filetypes">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="filetypes"> <span>Acceptable file types</span> </label>
                    <div class="controls">
                        <input type="text" ng-model="vm.formTag.filetypes" id="filetypes" class="input-block-level" ng-blur="vm.populateValue()">
                    </div>
                </div>
            </div>
        </div>

        <div class="umb-property" label="Id attribute" label-for="tag-id">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="tag-id"> <span>Id attribute</span> </label>
                    <div class="controls">
                        <input type="text" ng-model="vm.formTag.id" id="tag-id" class="input-block-level" ng-blur="vm.populateValue()">
                    </div>
                </div>
            </div>
        </div>
        <div class="umb-property" label="Class attribute" label-for="class">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <label class="control-label" for="class"> <span>Class attribute</span> </label>
                    <div class="controls">
                        <input type="text" ng-model="vm.formTag.class" id="class" class="input-block-level" ng-blur="vm.populateValue()">
                    </div>
                </div>
            </div>
        </div>
        <br class="clear">
        <div class="umb-property">
            <div class="umb-control-group">
                <div class="umb-el-wrap">
                    <div class="controls">
                        <input type="text" readonly class="input-block-level" ng-model="vm.formTag.value">
                    </div>
                </div>
            </div>
        </div>

        <p class="description mail-tag"><label for="tag-generator-panel-text-mailtag">To attach the file uploaded through this field to mail, you need to insert the corresponding mail-tag ([{{vm.formTag.name}}]) into the File Attachments field on the Mail tab.</label></p>

    </form>
</div>